asttokens
Authlib
beautifulsoup4
blinker
bs4
certifi
cffi
charset-normalizer
click
colorama
comm
cryptography
debugpy
decorator
executing
Flask
Flask-Dance
Flask-SQLAlchemy
greenlet
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
mpmath
nest-asyncio
numpy
oauthlib
opencv-python
packaging
pandas
parso
pillow
platformdirs
prompt-toolkit
psutil
psycopg2
psycopg2-binary
pure-eval
pycparser
Pygments
python-dateutil
pytz
pywin32
pyzmq
requests
requests-oauthlib
scipy
six
soupsieve
stack-data
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
Unidecode
urllib3
URLObject
wcwidth
Werkzeug
