colorama
comm
debugpy
decorator
executing
Flask
idna
ipykernel
ipython
jinja2
jupyter_client
oauthlib
opencv-python
packaging
pillow
platformdirs
prompt-toolkit
psutil
pycparser
Pygments
requests
requests-oauthlib
Unidecode
urllib3
URLObject
wcwidth
Werkzeug
